[Unit]
Description=Forward local Nagios command pipe to remote
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/nagios-ssh-cmd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
